In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("tmp/df.pkl")

In [3]:
df.head()

,filename,label,type,model,mel,train,test
0,/mnt/d/silofox/paad/anomaly-example/exploring-...,1,fan,4,"[[-7.5002937, -4.639111, -6.0516047, -4.391639...",1,1
1,/mnt/d/silofox/paad/anomaly-example/exploring-...,1,fan,4,"[[-12.436094, -9.041126, -3.7102282, -1.664873...",0,1
2,/mnt/d/silofox/paad/anomaly-example/exploring-...,1,fan,4,"[[-9.425446, -5.0984335, -6.3233995, -8.37207,...",1,1
3,/mnt/d/silofox/paad/anomaly-example/exploring-...,1,fan,4,"[[-6.7651253, -3.5295246, -5.626698, -6.813489...",1,1
4,/mnt/d/silofox/paad/anomaly-example/exploring-...,1,fan,4,"[[-10.678015, -6.4591193, -6.473288, -9.170168...",0,1

In [4]:
df.shape

(1381, 7)